<%- include("partials/header") -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="css/styles.css">
    <title> Daily Journal </title>
  </head>
  <body>
    <h1> <%=pageTitle%> </h1>
    <h6> <%=pageContent%> </h6>
  </body>
</html>

<%- include("partials/footer") -%>
